<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".txt" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24.00:00:00" />
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
	<httpLogging dontLog="false" selectiveLogging="LogError" />
    </system.webServer>
</configuration>
